[submodule "Salesforce-Analytics/Models/dlh-salesforce-analytics-dbt"]
	path = Salesforce-Analytics/Models/dlh-salesforce-analytics-dbt
	url = https://github.com/datalakehouse/dlh-salesforce-analytics-dbt
[submodule "Salesforce-Analytics/Models/DBT/dlh-salesforce-analytics-dbt"]
	path = Salesforce-Analytics/Models/DBT/dlh-salesforce-analytics-dbt
	url = https://github.com/datalakehouse/dlh-salesforce-analytics-dbt
[submodule "Salesforce-Analytics/Models/Dataform/dlh-salesforce-analytics-dataform"]
	path = Salesforce-Analytics/Models/Dataform/dlh-salesforce-analytics-dataform
	url = https://github.com/datalakehouse/dlh-salesforce-analytics-dataform
[submodule "Square-Analytics/Models/DBT/dlh-square-analytics-dbt"]
	path = Square-Analytics/Models/DBT/dlh-square-analytics-dbt
	url = https://github.com/datalakehouse/dlh-square-analytics-dbt
[submodule "Square-Analytics/Models/Dataform/dlh-square-analytics-dataform"]
	path = Square-Analytics/Models/Dataform/dlh-square-analytics-dataform
	url = https://github.com/datalakehouse/dlh-square-analytics-dataform
[submodule "Salesforce-Analytics/Models/DBT/--force"]
	path = Salesforce-Analytics/Models/DBT/--force
	url = https://github.com/datalakehouse/dlh-salesforce-analytics-dbt
[submodule "Xero-Analytics/Models/Dataform/dlh-xero-analytics-dataform"]
	path = Xero-Analytics/Models/Dataform/dlh-xero-analytics-dataform
	url = https://github.com/datalakehouse/dlh-xero-analytics-dataform.git
[submodule "Xero-Analytics/Models/DBT/dlh-xero-analytics-dbt"]
	path = Xero-Analytics/Models/DBT/dlh-xero-analytics-dbt
	url = https://github.com/datalakehouse/dlh-xero-analytics-dbt.git
[submodule "Quickbooks-Analytics/Models/Dataform/dlh-quickbooks-analytics-dataform"]
	path = Quickbooks-Analytics/Models/Dataform/dlh-quickbooks-analytics-dataform
	url = https://github.com/datalakehouse/dlh-quickbooks-analytics-dataform.git
[submodule "Quickbooks-Analytics/Models/DBT/dlh-quickbooks-analytics-dbt"]
	path = Quickbooks-Analytics/Models/DBT/dlh-quickbooks-analytics-dbt
	url = https://github.com/datalakehouse/dlh-quickbooks-analytics-dbt.git
[submodule "Snowflake-Usage-Analytics/Models/DBT/dlh-snowflake-analytics-dbt"]
	path = Snowflake-Usage-Analytics/Models/DBT/dlh-snowflake-analytics-dbt
	url = https://github.com/datalakehouse/dlh-snowflake-analytics-dbt
[submodule "Snowflake-Usage-Analytics/Models/Dataform/dlh-snowflake-analytics-dataform"]
	path = Snowflake-Usage-Analytics/Models/Dataform/dlh-snowflake-analytics-dataform
	url = https://github.com/datalakehouse/dlh-snowflake-analytics-dataform
[submodule "Doordash-Analytics/Models/Dataform/dlh-doordash-analytics-dataform"]
	path = Doordash-Analytics/Models/Dataform/dlh-doordash-analytics-dataform
	url = https://github.com/datalakehouse/dlh-doordash-analytics-dataform
[submodule "Doordash-Analytics/Models/DBT/dlh-doordash-analytics-dbt"]
	path = Doordash-Analytics/Models/DBT/dlh-doordash-analytics-dbt
	url = https://github.com/datalakehouse/dlh-doordash-analytics-dbt
[submodule "Doordash-Analytics/Reporting-Analytics/Looker/dlh-doordash-analytics-looker"]
	path = Doordash-Analytics/Reporting-Analytics/Looker/dlh-doordash-analytics-looker
	url = https://github.com/datalakehouse/dlh-doordash-analytics-looker.git
[submodule "Quickbooks-Analytics/Reporting-Analytics/Looker/dlh-quickbooks-analytics-looker"]
	path = Quickbooks-Analytics/Reporting-Analytics/Looker/dlh-quickbooks-analytics-looker
	url = https://github.com/datalakehouse/dlh-quickbooks-analytics-looker.git
[submodule "Xero-Analytics/Reporting-Analytics/Looker/dlh-xero-analytics-looker"]
	path = Xero-Analytics/Reporting-Analytics/Looker/dlh-xero-analytics-looker
	url = https://github.com/datalakehouse/dlh-xero-analytics-looker.git
[submodule "Salesforce-Analytics/Reporting-Analytics/Looker/dlh-salesforce-analytics-looker"]
	path = Salesforce-Analytics/Reporting-Analytics/Looker/dlh-salesforce-analytics-looker
	url = https://github.com/datalakehouse/dlh-salesforce-analytics-looker.git
[submodule "Snowflake-Usage-Analytics/Reporting-Analytics/Looker/dlh-snowflake-analytics-looker"]
	path = Snowflake-Usage-Analytics/Reporting-Analytics/Looker/dlh-snowflake-analytics-looker
	url = https://github.com/datalakehouse/dlh-snowflake-analytics-looker.git
[submodule "Square-Analytics/Reporting-Analytics/Looker/dlh-square-analytics-looker"]
	path = Square-Analytics/Reporting-Analytics/Looker/dlh-square-analytics-looker
	url = https://github.com/datalakehouse/dlh-square-analytics-looker.git
